.navigation-bar {
  position: sticky;
  top: 0;
  display: flex;
  background-color: white;
  margin: 0;
  padding: 10px 50px;
  color: #5f6368;
  font-size: 24pt;
  min-height: 30px;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.083);
  z-index: 10;

  .title {
    margin-right: 12px;
  }

  .spacer {
    flex-grow: 1;
  }

  .nav-button {
    text-decoration: none;
    color: inherit;
    font-size: 16pt;
    font-weight: 400;
    margin-left: 40px;
  }

  @media (max-width: 644px) {
    padding: 10px;

    #nav-button-group {
      display: none;
    }
  }

  .social-icon {
    height: 100%;
    margin-right: 20px;
    margin-left: 10px;
  }

  .material-symbols-outlined {
    margin-right: 8px;
    font-size: 24pt;
  }
}