<section class="shadow-border">
  <h1 class="header">Sausalito institution, Caledonia Street Barbers has been cutting hair for generations</h1>
  <div class="container">
    <div class="card shadow-border">
      <p class="title">Services</p>
      <div class="icon-container">
        <div class="circle-icon shadow-border">
          <span class="material-symbols-outlined">cut</span>
        </div>
      </div>
      <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, molestiae. Voluptatem similique exercitationem facere soluta ab reprehenderit pariatur delectus beatae quo laudantium tempore ad fugit, doloribus placeat quas nisi nostrum.</p>
    </div>
    <div class="card shadow-border">
      <p class="title">About</p>
      <div class="icon-container">
        <div class="circle-icon shadow-border">
          <span class="material-symbols-outlined">info</span>
        </div>
      </div>
      <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, molestiae. Voluptatem similique exercitationem facere soluta ab reprehenderit pariatur delectus beatae quo laudantium tempore ad fugit, doloribus placeat quas nisi nostrum.</p>
    </div>
    <div class="card shadow-border">
      <p class="title">Appointment</p>
      <div class="icon-container">
        <div class="circle-icon shadow-border">
          <span class="material-symbols-outlined">calendar_month</span>
        </div>
      </div>
      <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, molestiae. Voluptatem similique exercitationem facere soluta ab reprehenderit pariatur delectus beatae quo laudantium tempore ad fugit, doloribus placeat quas nisi nostrum.</p>
    </div>
    <img src="assets/ali.jpeg" class="img shadow-border">
    <img src="assets/cutting2.jpg" class="img shadow-border">
    <img src="assets/cutting.jpeg" class="img shadow-border">
  </div>
</section>
