.poster {
  position: relative;
  width: 100%;
}

.poster-content {
  display: flex;
  gap: 100px;
  padding: 100px 40px;
  max-width: 1250px;

  .scissors {
    width: 40%;
    color: white;
    font-size: 360px;
    transition: 600ms;
    transform-origin: center;
  }

  #rotate {
    transform: rotate(90deg);
  }

  #rotate-hover {
    transform: rotate(0deg);
  }

  .check-in-container {
    max-width: 55%;
    color: white;
    font: 400 24px/30px Roboto, "Helvetica Neue", sans-serif;
    div {
      font: 500 52px/60px Roboto, "Helvetica Neue", sans-serif;
    }
    p {
      line-height: 36px;
    }
    .button-row {
      margin-top: 10px;
  
      .side {
        margin-left: 20px;
        padding: 0 20px;
        height: 56px;
        border: none;
        color: #fff;
        font-size: 24px;
        font-weight: 500;
        background-color: #0004;
        cursor: pointer;
        transition: 600ms;
        border-radius: 10px;
      }
      .side:hover {
        background-color: #0009;
      }
      .main {
        padding: 0 62px;
        height: 56px;
        border: none;
        border-radius: 10px;
        color: #ff5a00;
        font-size: 24px;
        font-weight: 500;
        cursor: pointer;
        background-color: white;
        transition: 600ms;
      }
      .main:hover {
        background-color: rgba(255, 255, 255, 0.845);
      }
    }

    @media (max-width: 644px) {
      .button-row {
        .main {
          padding: 0 30px;
        }
        .side {
          padding: 0 16px;
        }
      }
      div {
        font: 500 26px/26px Roboto, "Helvetica Neue", sans-serif;
      }
      p {
        font: 400 18px/24px Roboto, "Helvetica Neue", sans-serif;
        margin-bottom: 25px;
      }
    }
  }

  @media (max-width: 1000px) {
    .scissors {
      display: none;
    }
    .check-in-container {
      max-width: 100%;
    }
  }

}