<div class="poster" (mouseenter)="toggleImageGroup()">
  <div class="poster-content">
    <div class="check-in-container">
      <div>Caledonia Street Barbers</div>
      <p>Does your barbershop have a story?
        Caledonia Street Barbers has been a community staple for 101 years.
         It is one of the oldest, continually running businesses in Sausalito, in one of the oldest buildings in town.</p>
      <div class="button-row">
        <button class="main">Check in</button>
        <button class="side">Contact</button>
      </div>
    </div>
    <!-- <div id="scissors"> -->
    <span class="material-symbols-outlined scissors" id="{{'rotate' + hover}}">cut</span>
    <!-- </div> -->
    <!-- <div class="img-group">
      <img src="assets/ali.jpeg" id="{{ 'offset-3' + hover }}" class="img">
      <img src="assets/cutting2.jpeg" id="{{ 'offset-2' + hover }}" class="img">
      <img src="assets/cutting.jpeg" id="{{ 'offset-1' + hover }}" class="img">
    </div> -->
  </div>
</div>