section {
  max-width: 100%;
  min-height: 100px;
  margin-top: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  background-color: white;
  padding: 80px 90px;

  .container {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .img {
      flex-grow: 1;
    }
  }

  @media (max-width: 1288px) {
    .container {
      flex-direction: column;
    }
  }
}